* {
  margin: 0;
  padding: 0;
  user-select: none;

  /* border: 1px solid red; */
}

body {
  background-color: white;
  overflow: hidden;
}

/* ----------------------------- Game Overlay ----------------------------- */

#game-overlay {
  position: relative;
  width: 450px;
  height: 450px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

/* --------------------------- Game Start Screen --------------------------- */

.game-title {
  position: relative;
  top: 42px;
  text-align: center;
  font-size: 64px;

  font-family: 'Questrial', sans-serif;

  color: white;
}

#title-spacing {
  letter-spacing: -2px;
}

#title-spacing-2 {
  letter-spacing: 8px;
}

#title-spacing-3 {
  letter-spacing: -1px;
}

.game-mode {
  position: relative;
  top: 76px;
  width: 150px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  font-size: 38px;
  font-family: sans-serif;
  color: white;
  cursor: pointer;
}

.game-mode:hover {
  color: darkGray;
}

.game-mode:active {
  color: white;
}

/* ------------------------- Symbol Choice Screen ------------------------- */

.symbol-choice-title {
  position: relative;
  top: 50px;
  margin: auto;
  text-align: center;
  font-size: 48px;
  font-family: sans-serif;
  color: white;
}

.symbol-choice {
  position: relative;
  top: 120px;
  margin: auto;
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  color: white;
}

.symbol-accent {
  position: relative;
  top: 12px;
  font-size: 60px;
  cursor: pointer;
}

#symbol-X {
  color: black;
}

#symbol-O {
  color: red;
}

#symbol-X:hover {
  text-shadow:
    -0.5px -0.5px 0 white,
    0.5px -0.5px 0 white,
    -0.5px 0.5px 0 white,
    0.5px 0.5px 0 white;
}

#symbol-O:hover {
  text-shadow:
    -0.75px -0.75px 0 white,
    0.75px -0.75px 0 white,
    -0.75px 0.75px 0 white,
    0.75px 0.75px 0 white;
}

#symbol-X:active {
  text-shadow:
    -0.5px -0.5px 0 darkGray,
    0.5px -0.5px 0 darkGray,
    -0.5px 0.5px 0 darkGray,
    0.5px 0.5px 0 darkGray;
}

#symbol-O:active {
  text-shadow:
    -0.75px -0.75px 0 darkGray,
    0.75px -0.75px 0 darkGray,
    -0.75px 0.75px 0 darkGray,
    0.75px 0.75px 0 darkGray;
}

/* --------------------------- Player Win Screen --------------------------- */

.player-win-title {
  position: relative;
  top: 50px;
  margin: auto;
  text-align: center;
  font-size: 48px;
  font-family: sans-serif;
  color: white;
}

.continue-options {
  position: relative;
  top: 96px;
  width: 200px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  font-size: 38px;
  font-family: sans-serif;
  color: white;
  cursor: pointer;
}

#play-again:hover {
  color: darkGray;
}

#play-again:active {
  color: white;
}

#quit:hover {
  color: darkGray;
}

#quit:active {
  color: white;
}

/* ---------------------------- Info Container ---------------------------- */

#info-container {
  display: grid;
  grid-template-rows: 25px 25px;
  grid-template-columns: 225px 225px;
  width: 450px;
  height: 50px;
  margin: auto;
  margin-top: 80px;
  font-size: 18px;
  font-family: sans-serif;
  color: darkGray;
  background-color: black;
}

#player-1-title {
  padding-top: 2px;
  text-align: center;

}

#player-1-score {
  text-align: center;
}

#player-2-title {
  padding-top: 2px;
  text-align: center;

}

#player-2-score {
  text-align: center;
}

.symbol-X-color {
  color: black;
  transition: color 0.2s ease-in-out;
}

.symbol-O-color {
  color: red;
  transition: color 0.2s ease-in-out;
}

.active-player {
  color: white;
  background-color: darkGray;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

/* ------------------------------ Game Board ------------------------------ */

#main-container {
  position: relative;
  top: -450px;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  width: 450px;
  height: 450px;
  margin: auto;
  z-index: 0;
}

.box {
  background-color: beige;
}

.box-styled {
  margin-top: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 64px;
  font-family: sans-serif;
}

.box-styled-player-2 {
  color: red;
}

.box-styled-win {
  background-color: darkGray;
}

#top-left {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

#top-mid {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

#top-right {
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

#center-left {
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

#center-mid {
  border: 2px solid black;
}

#center-right {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

#bottom-left {
  border-top: 2px solid black;
  border-right: 2px solid black;
}

#bottom-mid {
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

#bottom-right {
  border-top: 2px solid black;
  border-left: 2px solid black;
}
