* {
  margin: 0;
  padding: 0;
}

#main-container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;

  width: 600px;
  height: 600px;
  margin: auto;
  margin-top: 40px;

  /* border: 1px solid black; */
}

.box {
  background-color: beige;
}

#top-left {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

#top-mid {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

#top-right {
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

#center-left {
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

#center-mid {
  border: 2px solid black;
}

#center-right {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

#bottom-left {
  border-top: 2px solid black;
  border-right: 2px solid black;
}

#bottom-mid {
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

#bottom-right {
  border-top: 2px solid black;
  border-left: 2px solid black;
}
